﻿@model WebAppSekolah.Models.KelasViewModel

@{
    ViewData["Title"] = "Create Kelas";
}

<h2>Create</h2>

<h4>Kelas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tingkat" class="control-label"></label>
                <input asp-for="Tingkat" class="form-control" />
                <span asp-validation-for="Tingkat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jurusan"></label>
                <select asp-for="Jurusan" class="form-control"
                        asp-items="@(new SelectList(ViewBag.ListOfJurusan, "Jurusan", "Jurusan"))"></select>
                <span asp-validation-for="Jurusan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaliKelas" class="control-label"></label>
                <input asp-for="WaliKelas" class="form-control" />
                <span asp-validation-for="WaliKelas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
