﻿@model WebAppSekolah.Models.KelasViewModel

@{
    ViewData["Title"] = "Details Kelas";
}

<h2>Details</h2>

<div>
    <h4>Kelas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tingkat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tingkat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Jurusan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jurusan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WaliKelas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WaliKelas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
