﻿@model IEnumerable<WebAppSekolah.Models.KelasViewModel>

@{
    ViewData["Title"] = "Kelas";
}

<h2>Kelas</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tingkat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jurusan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WaliKelas)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tingkat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jurusan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaliKelas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
