﻿@{
    ViewData["Title"] = "Home Page";
}

@if (User.IsInRole("Kepala Sekolah"))
{
    <h2><center>Dashboard</center></h2>

    <br />
    <br />
    <script>
        window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
        	title: {
        		text: "Total Siswa Tiap Kelas"
        	},
        	axisY: {
        		title: "Siswa"
        	},
        	data: [{
        		type: "column",
        		yValueFormatString: "#",
        		indexLabel: "{y}",
        		dataPoints: @Html.Raw(ViewBag.DataPoints)
        	}]
        });

        function updateChart() {
        	var deltaY, yVal;
        	var dps = chart.options.data[0].dataPoints;
        	//for (var i = 0; i < dps.length; i++) {
        	//	deltaY = (1 + Math.random() * (-1 - 1)) * 0.1 * dps[i].y;
        	//	yVal = deltaY + dps[i].y > 0 ? dps[i].y + deltaY : 0;
        	//	dps[i].y = yVal;
        	//}
        	chart.options.data[0].dataPoints = dps;
        	chart.render();
        };
        updateChart();

        //setInterval(function () { updateChart() }, 2000);

        }
    </script>

    <table width="100%">
        <tr>
            <td><h3><center>Total Siswa : @ViewBag.TotalSiswa</center></h3></td>
            <td><h3><center>Total Kelas : @ViewBag.TotalKelas</center></h3></td>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
}
else
{
    <h2><center>Welcome</center></h2>
}
