﻿@model WebAppSekolah.Models.SiswaViewModel

@{
    ViewData["Title"] = "Details siswa";
}

<h2>Details</h2>

<div>
    <h4>Siswa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NIM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NIM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nama)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nama)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kelas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kelas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
